name: "Deploy Dev - AWS Docker"
description: "Despliega la aplicación Docker en el entorno de desarrollo de AWS"

inputs: 
  aws_secret_access_key:
    description: "AWS Secret Access Key"
    required: true
  image_name:
    description: "Nombre de la imagen Docker a desplegar"
    required: true 
  target_file_name:
    description: "Nombre del archivo destino en el servidor AWS"
    required: true  
  #internal_port:
  #  description: "Puerto interno del contenedor"
  #  required: true
  #external_port:
  #  description: "Puerto externo del contenedor"
  #  required: true
  host_target: 
    description: "Host de destino donde se desplegara la solucion"
    required: true
  directory_target:
    description: "Directorio destino en el servidor AWS"
    required: true
  directory_image:
    description: "Directorio destino en el servidor AWS para las imagenes docker"
    required: true
  deploy_config_file:
    description: "Archivo de configuración de despliegue"
    required: false
    default: ""    
  env_file:
    description: "Archivo de variables de entorno"
    required: true
    default: ".env"   
  service_name:
    description: "Nombre del servicio en docker-compose"
    required: true    
  tag_image:
    description: "Tag de la imagen Docker a desplegar"
    required: false
    default: "latest"
  dockerfile_name:
    description: "Ruta al Dockerfile"
    required: false
    default: "dockerfile"
  dockercompose_name:
    description: "Nombre del archivo docker-compose.yml"
    required: false
    default: "docker-compose.yml"
  working-directory:
    description: "Directorio de trabajo para el build de Docker"
    required: false
    default: "."
  directory_pem:
    description: "Directorio destino en el servidor AWS"
    required: false
    default: "/tmp"  
    
runs:
  using: "composite" # Indica que es una acción compuesta, osea que agrupa varios pasos (steps)
  steps:
    - name: Crear y Guardar Imagen Docker
      shell: bash
      run: |
        docker build -f ${{ inputs.dockerfile_name }} -t ${{ inputs.image_name }}:${{ inputs.tag_image }} ${{ inputs.working-directory }}
        docker save -o ${{ inputs.directory_pem }}/${{ inputs.target_file_name }} ${{ inputs.image_name }}:${{ inputs.tag_image}}
    
    
    
    # 7. Desplegar el contenedor en la instancia
    #    ssh -o StrictHostKeyChecking=no -i ${{ inputs.directory_pem }}/aws-key.pem ubuntu@${{ inputs.host_target }} "
    #      docker stop ${{ inputs.image_name }} || true &&
    #      docker rm ${{ inputs.image_name }} || true &&
    #      docker rmi ${{ inputs.image_name }}:${{ inputs.tag_image }} || true &&
    #      docker load -i images/$CARPETA/${{ inputs.target_file_name }} &&
    #      docker run -d --name ${{ inputs.image_name }} -p ${{ inputs.external_port }}:${{ inputs.internal_port }} --env-file images/$CARPETA/${{ inputs.env_file }} ${{ inputs.image_name }}:${{inputs.tag_image}}" 

    - name: Desplegar Imagen en AWS por SSH
      shell: bash
      run: |
        # 1. Guardar la clave privada desde el secret
        echo "${{ inputs.aws_secret_access_key }}" | tr -d '\r' > ${{ inputs.directory_pem }}/aws-key.pem
        chmod 600 ${{ inputs.directory_pem }}/aws-key.pem

        # 2. Obtener fecha actual en formato YYYYMMDD
        FECHA=$(date +'%Y%m%d')          CARPETA="v_$FECHA"

        # 3. Crear la carpeta en la instancia AWS
        ssh -o StrictHostKeyChecking=no -i ${{ inputs.directory_pem }}/aws-key.pem ubuntu@${{ inputs.host_target }} "mkdir -p ${{ inputs.directory_image }}/$CARPETA"
        
        # 4. Copiar el archivo .tar a la instancia (StrictHostKeyChecking=no para evitar el prompt de confirmacion o verificacion del host)
        scp -o StrictHostKeyChecking=no -i ${{ inputs.directory_pem }}/aws-key.pem ${{ inputs.directory_pem }}/${{ inputs.target_file_name }} ubuntu@${{ inputs.host_target }}:${{ inputs.directory_image }}/$CARPETA/

        # 5. Copiar el archivo .env_file a la instancia (StrictHostKeyChecking=no para evitar el prompt de confirmacion o verificacion del host)
        scp -o StrictHostKeyChecking=no -i ${{ inputs.directory_pem }}/aws-key.pem ${{ inputs.working-directory }}/${{ inputs.env_file }} ubuntu@${{ inputs.host_target }}:${{ inputs.directory_image }}/$CARPETA/

        # 6. Validar y copiar archivos adicional si existe el archivo de configuración
        if [ -n "${{ inputs.deploy_config_file }}" ]; then
          echo "Leyendo configuración desde ${{ inputs.deploy_config_file }}..."
          CONFIG=$(cat "${{ inputs.deploy_config_file }}")
          DIRECTORIES=$(echo "$CONFIG" | jq -r '.directory[]')
          FILES=$(echo "$CONFIG" | jq -r '.files[]')

          for DIR in $DIRECTORIES; do
            echo "Copiando carpeta $DIR..."
            scp -r -o StrictHostKeyChecking=no -i ${{ inputs.directory_pem }}/aws-key.pem "${{ inputs.working-directory }}/$DIR" ubuntu@${{ inputs.host_target }}:${{ inputs.directory_target }}/
          done

          for FILE in $FILES; do
            echo "Copiando archivo $FILE..."
            scp -o StrictHostKeyChecking=no -i ${{ inputs.directory_pem }}/aws-key.pem "${{ inputs.working-directory }}/$FILE" ubuntu@${{ inputs.host_target }}:${{ inputs.directory_target }}/
          done
        fi

        # 7. Desplegar el contenedor en la instancia
        ssh -o StrictHostKeyChecking=no -i ${{ inputs.directory_pem }}/aws-key.pem ubuntu@${{ inputs.host_target }} "
          docker compose -f ${{ inputs.target_directory }}/${{ inputs.dockercompose_name}} down ${{ inputs.service_name }} || true &&
          docker rm ${{ inputs.image_name }} || true &&
          docker rmi ${{ inputs.image_name }}:${{ inputs.tag_image }} || true &&
          docker load -i ${{ inputs.directory_image }}/$CARPETA/${{ inputs.target_file_name }} &&
          docker compose -f ${{ inputs.target_directory }}/${{ inputs.dockercompose_name}} up -d ${{ inputs.service_name }} || true"

        # 8. Eliminar la clave por seguridad
        rm -f ${{ inputs.directory_pem }}/aws-key.pem